* {
  margin: 0;
  padding: 0;
}

.col-1 {
  float: left;
  width: 8.33333333%;
}

.col-2 {
  float: left;
  width: 16.6666666%;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  float: left;
  width: 33.3333333%;
}

.col-5 {
  float: left;
  width: 41.6666666%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.3333333%;
}

.col-8 {
  float: left;
  width: 66.6666666%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.33333333%;
}

.col-11 {
  float: left;
  width: 91.66666666%;
}

.col-12 {
  float: left;
  width: 100%;
}

.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}


/*nav*/

.shoe-nav {
  cursor: pointer;
  background: #fafbfd;
  font-family: sans-serif;
}

.nav-fixed{
  position: fixed;
  display: block;
}

.shoe-nav ul {
  margin-right: 1em;
  text-align: right;
}

.shoe-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 1em 0.5em;
  margin: 1em 0.3em;
}

.shoe-nav ul li a {
  text-decoration: none;
}

.shoe-nav ul li:hover {
  background: rgba(0, 0, 0, .05);
}


/*nav brand*/

.navbar-brand img {
  height: 5.5em;
  padding: 1em 0em;
}


/*nav bar call to action btn*/

.shoe-nav ul li.action-nav {
  border: 3px solid #FF7322;
}

.shoe-nav ul li.action-nav a {
  color: #ff7322!important;
  font-weight: bold;
}

.shoe-nav ul li.action-nav:hover {
  background: rgba(255, 115, 34, .1);
}


/*headers*/

.headers {
  width: 100%;
  display: inline-block;
}

.big-header {
  height: 30em;
}

.mid-header {
  min-height: 20em;
}

.small-header {
  min-height: 10em;
}

.header-fixed-nav{
  margin-top: 3em;
}

/*imgs*/

img {
  vertical-align: middle;
}

/*general*/

.left {
  float: left;
  display: inline-block;
}

.right {
  float: right;
  display: inline-block;
}

.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.center img {
  margin: 0 auto;
}

/*responsive design*/

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  body {
    font-size: 13px;
  }
 }

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
  body{
    font-size: 12px;
  }
 }
 /* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
  body{
    font-size: 10px;
  }
 }